html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: hsl(185, 75%, 39%);
}

.profile-card {
  border-radius: 50px;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-card .profile-card--top {
  background-image: url('./images/bg-pattern-card.svg');
}
